.round-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.list-item .list-content {
    margin-left: 30px;
}

.list-content h5 { color: #000; font-weight: bold; font-size: 16px; }
.list-content h5 a { color: #000; text-decoration: none; }
.list-content h5 a:hover { color: var(--bs-blue) !important; }
